/*********************************************************
* WEB FONTS
*/

@font-face {
    font-family: 'Open Sans';
    src: url('../resources/fonts/opensans-bold-webfont.woff') format('woff'),
         url('../resources/fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../resources/fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('../resources/fonts/opensans-bolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../resources/fonts/opensans-regular-webfont.woff') format('woff'),
         url('../resources/fonts/opensans-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../resources/fonts/opensans-italic-webfont.woff') format('woff'),
         url('../resources/fonts/opensans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
   font-family: 'Meta';
   src: url('http://www.mozilla.org/img/fonts/MetaWebPro-Bold.eot');
   src: local('?'), url('http://www.mozilla.org/img/fonts/MetaWebPro-Bold.woff') format('woff');
   font-weight: bold;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../resources/fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../resources/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../resources/fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../resources/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
