<div class="b-editor panel ui-kit">

  <div class="header-row">Media Gallery
    <a class="btn pressed fl-right toggle-media-panel"><i class="icon-plus"></i> Add media</a>
  </div>

  <div class="tab-group row white border">
    <ul class="tabs top">
      <li data-tab-control="url" class="tab-on"><i class="icon-link"></i> URL</li>
      <li data-tab-control="webcam"><i class="icon-camera"></i> Webcam</li>
    </ul>
    <div class="panels">
      <div class="inner tab-on" data-tab="url">
        <label>Paste a URL to add clip</label>
        <div class="group">
          <textarea class="url-input"></textarea>
          <a class="btn">Add clip</a>
        </div>
      </div>
      <div class="inner" data-tab="webcam">
        <label>Add new clip</label>
        <div class="webcam"></div>
        <a class="btn">Add clip</a>
      </div>
    </div>
  </div>


</div>
